@charset "UTF-8";
/* Variables */
/* CSS En Comun */
* {
  font-family: Raleway;
  margin: 0px;
  padding: 0px; }

/* Contenido Centrado General*/
.centrarContenido {
  display: flex;
  flex-direction: row;
  justify-content: center; }

/* Barra de Navegacion */
.barraNavegacion {
  color: #2C4877;
  background-color: rgba(227, 204, 180, 0.85); }

.barraNavegacion img {
  position: fixed;
  top: 0.5rem; }

/* Media Query Logo */
@media screen and (max-width: 992px) {
  .barraNavegacion img {
    width: 2.5rem; } }

/* Footer Texto (BEM) */
.pie {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(227, 204, 180, 0.85); }

/* Footer RRSS Contenedor (BEM) */
.pie__RRSS {
  background-color: transparent;
  padding-bottom: 5px; }

/* Footer RRSS Imagenes (BEM) */
.pie__imgRRSS {
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; }

/* Footer Texto 2 (BEM) */
.pie__texto2 {
  background-color: transparent; }

/* Boton 404 */
.boton404 {
  color: #2C4877;
  background-color: #FFE268;
  border-style: none;
  text-decoration: none;
  width: 80px;
  height: 80px;
  padding: 6px 0px;
  border-radius: 50px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.42857;
  margin-top: 1vh; }

.boton404 a:visited {
  color: #2C4877; }

/* Imagen Home Estilo (BEM) */
.estiloHome {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  overflow: hidden; }

/* Texto Home (BEM) */
.estiloHome__texto {
  padding-top: 15rem;
  padding-right: 5rem;
  color: #2C4877;
  background-color: transparent;
  font-size: 3rem;
  float: right;
  z-index: 10;
  position: sticky;
  text-shadow: 2px 2px 5px #969696; }

/* Imagen Home (BEM) */
.estiloHome__img {
  background-image: url(../multimedia/home/foto-index-2.jpg);
  background-color: #D6B48F;
  z-index: -10;
  background-position: center;
  height: 100%;
  opacity: 0.8;
  filter: sepia(80%); }

/* Titulo Home (BEM) */
.estiloHome__titulo1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 5px #969696; }

/* Animacion Texto Home */
.animate__animated.animate__slideInRight {
  animation-delay: 0.3s; }

/* Operadores SASS */
.estiloHome__titulo2 {
  font-size: 2.25rem; }

/* Servicios (BEM) */
.servicios {
  padding-top: 20px;
  padding-bottom: 20px; }

/* Servicios Contenedor Section (BEM) */
.servicios__caja {
  background-color: #F4EEE8;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff; }

/* Servicios Imagenes (BEM) */
.servicios__img {
  background-color: transparent;
  height: auto;
  padding-top: 20px;
  width: 60%; }

/* Servicios Titulo (BEM) */
.servicios__titulo {
  text-align: center;
  color: #222222;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F4EEE8; }

/* Servicios Descripción (BEM) */
.servicios__parrafo {
  background-color: transparent;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; }

/* Cursor */
.servicios__cursor {
  cursor: pointer; }

/* Boton Modal */
.servicios__botonModal {
  color: #FFFFFF;
  background-color: #2C4877; }

a.servicios__botonModal:hover {
  color: #2C4877;
  background-color: #F4EEE8;
  font-weight: bold; }

/* Body Modal */
.servicios__bodyModal {
  background-color: #F4EEE8;
  color: #222222; }

/* Body Modal */
.servicios__tituloModal {
  background-color: #E3CCB4;
  color: #222222;
  font-size: 1.5rem; }

/* Pie Modal */
.servicios__pieModal {
  background-color: #E3CCB4; }

/* Calcular Presupuesto (Servicios) */
.servicios__presupuesto {
  color: #222222;
  background-color: #FFE268;
  margin-top: 100px; }

.servicios__boton {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

/* Calcular Presupuesto (Presupuesto HTML) */
.presupuesto__boton {
  display: flex;
  justify-content: center; }

.presupuesto__calcular {
  color: #222222;
  background-color: #FFE268;
  margin: 1%; }

.presupuesto__titulo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px; }

h2.presupuesto__titulo {
  color: #222222;
  font-size: 2.2rem;
  font-weight: bold; }

.presupuesto__formulario {
  justify-content: center; }

.presupuesto__form {
  margin-top: 2%;
  color: #F4EEE8;
  margin-bottom: 5%; }

.presupuesto__form form {
  background-color: #2C4877;
  padding-right: 4vw;
  padding-left: 4vw;
  padding-top: 4vh;
  padding-bottom: 3vh;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 1px #222222;
  opacity: 0.92; }

.divPrint {
  background-color: #2C4877;
  color: #F4EEE8;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 1px #222222;
  opacity: 0.92;
  padding: 1%; }

.divOk {
  background-color: #00aa33;
  color: #F4EEE8;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 1px #222222;
  opacity: 0.92;
  padding: 1%; }

/* Portfolio (BEM) */
.portfolio {
  padding-top: 120px;
  padding-bottom: 5%; }

/* Contenedor de Cada Portfolio (BEM) */
.portfolio__contenedor {
  margin-left: 10px;
  margin-right: 10px;
  width: 350px;
  height: 350px;
  border-style: none; }

/* Opacidad Imagen Portada Portfolio (BEM) */
.portfolio__imagen {
  filter: grayscale(100%) opacity(50%);
  border-radius: 50%;
  transition: filter 1s;
  transition: transform 1s; }

/* Modifica Imagen (BEM) */
.portfolio section:hover img {
  transform: scale(1.1, 1.1);
  filter: grayscale(0%);
  transition: filter 1s;
  transition: transform 1s; }

/* Modifica Texto (BEM) */
.portfolio section article {
  transition: transform 1s; }

/* Modifica Texto (BEM) */
.portfolio section:hover article {
  color: #2C4877;
  transform: translateY(70%);
  transition: transform 1s; }

/* Sin Borde (BEM) */
.card {
  border-style: none; }

/* Texto Encima (BEM) */
.card__Texto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2C4877;
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  z-index: 100; }

/* Portada de la Galeria */
.tz-gallery img {
  height: 100%; }

/* No mostrar fotos de la galeria */
.tz-gallery a {
  display: none; }

/* Mostrar solo la foto de portada */
.tz-gallery a.mostrar {
  display: inline-block; }

/* Proximos Cursos */
.proxCursos {
  margin-top: 8%; }

.proxCursos__texto {
  font-size: 4rem;
  text-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff; }

/* Cursos General */
.cursos {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center; }

/* Cursos Filas */
.cursos__fila {
  margin-bottom: 5%;
  display: flex;
  width: 80%;
  height: 300px;
  justify-content: space-evenly; }

/* Cursos Imagenes */
.cursos__contenedor__img {
  width: 40%;
  height: 100%; }

.cursos__contenedor__1 {
  width: 100%;
  height: 100%;
  background-image: url(../multimedia/cursos/curso-flash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%; }

.cursos__contenedor__2 {
  width: 100%;
  height: 100%;
  background-image: url(../multimedia/cursos/curso-fotografia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%; }

.cursos__contenedor__3 {
  width: 100%;
  height: 100%;
  background-image: url(../multimedia/cursos/curso-nweborn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%; }

.cursos__contenedor__4 {
  width: 100%;
  height: 100%;
  background-image: url(../multimedia/cursos/curso-photoshop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%; }

/* Cursos Contenedor */
.cursos__caja {
  background-color: #F4EEE8;
  box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff;
  border-radius: 2%;
  margin: 0px 10px;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column; }

/* Cursos Titulo */
.cursos__titulo {
  text-align: center;
  color: #222222;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent; }

/* Cursos Descripción */
.cursos__parrafo {
  background-color: transparent;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #222222; }

/* Boton */
.cursos__boton {
  color: #222222;
  background-color: #FFE268;
  align-self: center;
  margin-bottom: 5%; }

a.cursos__boton:hover {
  transform: scale(1.1, 1.1);
  transition: filter 1s;
  transition: transform 1s; }

@media screen and (max-width: 780px) {
  .cursos {
    height: auto; }
  .cursos__fila {
    flex-direction: column;
    width: 80%;
    height: auto; }
  .cursos__contenedor__img {
    float: left;
    width: 100%;
    height: 20em;
    z-index: 1; }
    .cursos__contenedor__img > div {
      height: 100%;
      width: 100%; }
  .cursos__caja {
    float: left;
    width: 100%;
    margin: 0px; }
  .proxCursos__texto {
    text-align: center;
    margin-top: 10%; } }

/* Formulario de Contacto (BEM) */
.formulario {
  margin-top: 16vh;
  color: #F4EEE8;
  margin-bottom: 5%; }

.formulario__caja {
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: transparent; }

.formulario__img {
  width: 30%;
  float: right;
  background-color: transparent;
  padding-top: 20vh;
  margin-right: 2vw; }

.formulario__form {
  background-color: #2C4877;
  padding-right: 4vw;
  padding-left: 4vw;
  padding-top: 2vh;
  padding-bottom: 8vh;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 1px #222222;
  opacity: 0.92; }

.formulario__boton {
  float: right;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 12px; }

.formulario__boton input {
  border-style: solid;
  border-color: #F4EEE8;
  background-color: #2C4877;
  color: #F4EEE8;
  box-shadow: 2px 2px 5px 0px #222222; }

.formulario__boton input:hover {
  background-color: #F4EEE8;
  color: #2C4877;
  border-style: none; }
